.flexbox {
    display: flex;
}
.more {
    color: white;
    margin-left: 120px;
    margin-top: 50px;
    font-size: 45px;
}

.mores {
    color: white;
    margin-left: 120px;
    margin-top: 5px;
    font-size: 20px;

}

.button {
    height: 40px;
    width: 150px;
    border: rgba(162, 89, 255, 1) solid 1px;
    border-radius: 16px;
    margin-left: 550px;
    margin-top: 50px;
    color: white;
    cursor: pointer;
}

.sez {
    text-align: center;
    margin-top: 8px;
}

.dabaa {
    height: 450px;
    border-radius: 19px;
    width: 340px;
    background-color: rgb(43, 42, 42);
    margin-left: 120px;
    margin-top: 25px;


}

.dabaaz {
    height: 450px;
    border-radius: 19px;
    width: 340px;
    background-color: rgb(43, 42, 42);
    margin-left: 40px;
    margin-top: 25px;


}

.erth {
    width: 342px;
    margin-top: -1px;
    margin-left: -1px;

    border-radius: 19px 19px 0px 0px;
}

.glax {
    color: white;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 20px;
}

.grils {
    margin-left: 20px;
    margin-top: 10px;
}

.moondace {
    color: white;
    margin-left: 10px;
    margin-top: 12px;
}

.price {
    color: white;
    margin-left: 20px;
    margin-top: 12px;
}

.ggg {
    color: white;
    margin-left: 20px;
    margin-top: 3px;
}

.bid {
    margin-top: 12px;
    color: white;
    margin-left: 160px;
    font-size: 13px;
}

.bids {
    color: white;
    margin-left: 160px;
    margin-top: 5px;

}
.more {
    color: white;
    margin-left: 120px;
    margin-top: 50px;
    font-size: 45px;
}

.mores {
    color: white;
    margin-left: 120px;
    margin-top: 5px;
    font-size: 20px;

}

.button {
    height: 40px;
    width: 150px;
    border: rgba(162, 89, 255, 1) solid 1px;
    border-radius: 16px;
    margin-left: 550px;
    margin-top: 50px;
    color: white;
    cursor: pointer;
}

.sez {
    text-align: center;
    margin-top: 8px;
}

.dabaa {
    height: 450px;
    border-radius: 19px;
    width: 340px;
    background-color: rgb(43, 42, 42);
    margin-left: 120px;
    margin-top: 25px;


}

.dabaaz {
    height: 450px;
    border-radius: 19px;
    width: 340px;
    background-color: rgb(43, 42, 42);
    margin-left: 40px;
    margin-top: 25px;


}

.erth {
    width: 342px;
    margin-top: -1px;
    margin-left: -1px;

    border-radius: 19px 19px 0px 0px;
}

.glax {
    color: white;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 20px;
}

.grils {
    margin-left: 20px;
    margin-top: 10px;
}

.moondace {
    color: white;
    margin-left: 10px;
    margin-top: 12px;
}

.price {
    color: white;
    margin-left: 20px;
    margin-top: 12px;
}

.ggg {
    color: white;
    margin-left: 20px;
    margin-top: 3px;
}

.bid {
    margin-top: 12px;
    color: white;
    margin-left: 160px;
    font-size: 13px;
}

.bids {
    color: white;
    margin-left: 160px;
    margin-top: 5px;

}
.more {
    color: white;
    margin-left: 120px;
    margin-top: 50px;
    font-size: 45px;
}

.mores {
    color: white;
    margin-left: 120px;
    margin-top: 5px;
    font-size: 20px;

}

.button {
    height: 40px;
    width: 150px;
    border: rgba(162, 89, 255, 1) solid 1px;
    border-radius: 16px;
    margin-left: 550px;
    margin-top: 50px;
    color: white;
    cursor: pointer;
}

.sez {
    text-align: center;
    margin-top: 8px;
}

.dabaa {
    height: 450px;
    border-radius: 19px;
    width: 340px;
    background-color: rgb(43, 42, 42);
    margin-left: 120px;
    margin-top: 25px;


}

.dabaaz {
    height: 450px;
    border-radius: 19px;
    width: 340px;
    background-color: rgb(43, 42, 42);
    margin-left: 40px;
    margin-top: 25px;


}

.erth {
    width: 342px;
    margin-top: -1px;
    margin-left: -1px;

    border-radius: 19px 19px 0px 0px;
}

.glax {
    color: white;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 20px;
}

.grils {
    margin-left: 20px;
    margin-top: 10px;
}

.moondace {
    color: white;
    margin-left: 10px;
    margin-top: 12px;
}

.price {
    color: white;
    margin-left: 20px;
    margin-top: 12px;
}

.ggg {
    color: white;
    margin-left: 20px;
    margin-top: 3px;
}

.bid {
    margin-top: 12px;
    color: white;
    margin-left: 160px;
    font-size: 13px;
}

.bids {
    color: white;
    margin-left: 160px;
    margin-top: 5px;

}
